# Data Manipulation & Extraction
pandas>=2.0.0
numpy>=1.24.0

# Machine Learning & Anomaly Detection
scikit-learn>=1.2.2

# Sequential State Modelling (Hidden Markov Models)
hmmlearn>=0.3.0

# Graphs and Heatmaps
matplotlib>=3.7.1
seaborn>=0.12.2